* {

    border:5px solid red;
    
}

html{
    box-sizing: border-box;
    width:100%;
    height: auto;
    display: grid;
    margin:0%;
    padding: 0%;

}

body {
    margin:0%;
    padding: 0%;
    height: 100%;
    box-sizing: border-box;
}

.mainGridContainer {
    height:100vh;
    display: grid;
    grid-template-areas:
    
    "nav header header header header header"
    "nav article article article article aside1"
    "nav article article article article aside1"
    "nav article article article article aside1"
    "nav article article article article aside2"
    "nav article article article article aside2"
    
    ;
    
    
    grid-template-columns:repeat(6, 1fr) ;
    grid-template-rows:repeat(6, 1fr) ;
    
}

nav {
    grid-area: nav;
    display:grid;
    background-color: rgb(6, 79, 196);
    
    
}

 nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    list-style-type: none;
    align-items: center;
    

 }

 
 li>a{
    text-decoration: none;
    color: white;
 }

 
 nav :nth-child(13)  {

    padding-top: 4rem;
 }

 nav :nth-child(14)   {

    padding-top: 4rem;
 }


 header {
    grid-area: header;
    display:grid;
}

article {
    grid-area:article;
    display: grid;
}

.aside1 {
    grid-area: aside1;
    display: grid;
}

.aside2 {
    grid-area:aside2;
    display:grid;
}

.navSvg {

    width: 2rem;
    filter:invert()
}

.ouroborusIcon {

    width:5rem
}

.headerTop{

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.leftHeader{

    display: grid;
    align-items: center;
    grid-template-columns: .5fr 4fr ;
}

.rightHeader {

    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
}

.rightHeader :nth-child(2){

    padding-left: 1rem;
}

.rightHeader :nth-child(1){

    padding-left: 4rem;
}


input {

    background-color: rgb(217, 210, 210);
    border-radius:12px;
}


