* {

    border:5px solid red;
    
}

html{
    box-sizing: border-box;
    width:100%;
    height: auto;
    display: grid;
    margin:0%;
    padding: 0%;

}

body {
    margin:0%;
    padding: 0%;
    height: 100%;
    box-sizing: border-box;
}

.mainGridContainer {
    height:100vh;
    display: grid;
    grid-template-areas:
    
    "nav header header header header header"
    "nav main main main main aside1"
    "nav main main main main aside1"
    "nav main main main main aside1"
    "nav main main main main aside2"
    "nav main main main main aside2"
    
    ;
    
    
    grid-template-columns:repeat(6, 1fr) ;
    grid-template-rows:repeat(6, 1fr) ;
    
}

nav {
    grid-area: nav;
    display:grid;
    background-color: rgb(6, 79, 196);
    min-width: auto;
    

}

 nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    list-style-type: none;
    align-items: center;

 }

 li>a{
    text-decoration: none;
    color: white;
 }

 nav :nth-child(13)  { /*using padding to space 13 and 14th children of the nav icons a bit*/

    padding-top: 4rem;
 }

 nav :nth-child(14)   {

    padding-top: 4rem;
 }




main {
    grid-area:main;
    display: grid;
}

.aside1 {
    grid-area: aside1;
    display: grid;
}

.aside2 {
    grid-area:aside2;
    display:grid;
}

.navSvg {

    width: 2rem;
    filter:invert(); /*inver color sample on  svg object*/
}

.dashboardDiv {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.dashboardDiv p {

    color:white;
    font-size: 2rem;
}

.dashboardSvg {
    width: 4rem;
    filter:invert() /*inver color sample on  svg object*/

}

.headerSearch {
    grid-area: header;
    
    
    
}

input {

    background-color: rgb(217, 210, 210);
    border-radius:12px;
    height: 2rem;
}

.ouroborusIcon {

    width:3rem
}

.ouroborusIconLowerHeader{

    max-width: 1rem;
}

.headerTop{

    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-content: center;
    align-content: center;
}

.leftHeader{

    display: grid;
    align-items: center;
    grid-template-columns: .5fr 4fr ;
}

.rightHeader {

    display: grid;
    grid-template-columns: .7fr .8fr;
    align-items: center;
    justify-items: right;
    
    
}

.lowerLeftHeaderBottom{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}



.headerBottom {

    display:grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    
    
}


.new-Upload-Share-Buttons {

    display: flex;
    gap:3rem;
    justify-content: flex-end;
   flex-wrap: wrap;
}




.new-Upload-Share-Buttons button {

    font-size:2rem;
    background-color: rgb(47, 47, 218);
    color: white;
    border-radius: 20px;
    padding: .5rem;
    
    
   
    
    
}



.symbolName { /*this is the ouroborus and name seciton in right header*/

    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-items: right;
    align-items: center;
}








@media screen and (max-width:990px) {
    .headerBottom {
      display: flex;
      
      flex-direction: column;
      justify-content: flex-start;
      
      
    }
    .headerTop {

        display: flex;
        flex-direction: column;
    }

    .new-Upload-Share-Buttons {

        display: flex;
        gap:3rem;
        justify-content: center;
       flex-wrap: wrap;
    }
    
  }

