* {

    border:1px solid red;
    
}

html{
    box-sizing: border-box;
    width: 100%;
    height: auto
    display: grid;
    
    margin:0;
    padding: 0%;

}

body {
    margin:0%;
    padding: 0%;
    height: 100%;
    box-sizing: border-box;
}

.mainGridContainer {
    margin:0;
    height: 100vh;
    display: grid;
    grid-template-areas:
    
    "nav header header header header header"
    "nav main main main main aside1"
    "nav main main main main aside1"
    "nav main main main main aside1"
    "nav main main main main aside2"
    "nav main main main main aside2"
    
    ;
    
    
    grid-template-columns:repeat(6, 1fr) ;
    grid-template-rows:repeat(6, 1fr) ;
    
}

nav {
    grid-area: nav;
    display:grid;
    grid-template-columns: 1fr;
    background-color: rgb(6, 79, 196);
    height:100%;
    

}

 nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    list-style-type: none;
    align-items: center;

 }

 li>a{
    text-decoration: none;
    color: white;
 }

 nav :nth-child(13)  { /*using padding to space 13 and 14th children of the nav icons a bit*/

    padding-top: 4rem;
 }

 nav :nth-child(14)   {

    padding-top: 4rem;
 }




main {
    grid-area:main;
    /*background-color: rgb(199, 199, 245);*/
    gap:1rem
}

.aside1 {
    grid-area: aside1;
    display: grid;
}

.aside2 {
    grid-area:aside2;
    display:grid;
}

.navSvg {

    width: 2rem;
    filter:invert(); /*inver color sample on  svg object*/
}

.dashboardDiv {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding:.25rem;
    
    
    
    
}

.dashboardDiv p {

    color:white;
    font-size: 2rem;
    margin:0;
    
}



.dashboardSvg {
    width: 4rem;
    filter:invert(); /*inver color sample on  svg object*/
    margin:0;
}

.headerSearch {
    grid-area: header;
    
    
    
}

input {

    background-color: rgb(217, 210, 210);
    border-radius:12px;
    height: 2rem;
}

.ouroborusIcon {

    width:3rem
}

.ouroborusIconLowerHeader{

    max-width: 1rem;
}

.headerTop{

    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-content: center;
    align-content: center;
    margin:0;
}

.leftHeader{

    display: grid;
    align-items: center;
    grid-template-columns: .5fr 4fr ;
    margin:0;
}

.rightHeader {

    display: grid;
    grid-template-columns: .7fr .8fr;
    align-items: center;
    justify-items: right;
    margin:0;
    
    
}

.lowerLeftHeaderBottom{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.lowerHeaderGreeting h1 {

    margin:0;
}

.lowerHeaderGreeting p {
    margin: 0;
}





.headerBottom {

    display:grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    
    
}


.new-Upload-Share-Buttons {

    display: flex;
    gap:3rem;
    justify-content: flex-end;
   flex-wrap: wrap;
   padding:.5rem;
}




.new-Upload-Share-Buttons button {

    font-size:2rem;
    background-color: rgb(47, 47, 218);
    color: white;
    border-radius: 20px;
    padding: .5rem;
    

}



.symbolName { /*this is the ouroborus and name seciton in right header*/

    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-items: right;
    align-items: center;
}


.yourProjectsHeading {
    background-color: rgb(220, 246, 252);
    margin: 0;
    padding:1%;
    
    
}


.cardSection {
    background-color: rgb(220, 246, 252);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap:1rem;
    padding-bottom: 25%;
    padding-left: 2%;
    padding-right: 2%;
    
    
    
}



.cardSection > article {
    
    background-color: rgb(243, 246, 248);
    row-gap: 1rem;
    column-gap:1rem;
    border-radius: 1rem;
    max-height: 100%;
    border-left:10px solid rgb(235, 135, 5);
    
}

.cardHeadingPara{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}


.cardSymbolDiv {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap:.5rem;
    margin: 0;
}

.cardIcons{
    
    width:1rem;
    height: 1rem;
    margin:0;
}

.cardHeadingPara > h4 {

    margin:1%;
    padding-left:1%;
}

.cardHeadingPara p {
    padding:3%;
    margin:1%;
}



@media screen and (max-width:990px) {
    
    .mainGridContainer {
        height:100vh;
        display: flex;
        flex-direction: column;
        
        
        
       
    }
    .rightHeader {

        display: grid;
        grid-template-columns: .7fr .8fr;
        align-items: center;
        justify-items: center;
        
        
    }

    .cardSection{

        display: flex;
        flex-direction: column;
    }
    
    .headerBottom {
      display: flex;
      
      flex-direction: column;
      justify-content: flex-start;
      
      
    }
    .headerTop {

        display: flex;
        flex-direction: column;
    }

    .new-Upload-Share-Buttons {

        display: flex;
        gap:3rem;
        justify-content: center;
       flex-wrap: wrap;
    }
    nav {

        display:flex;
        flex-direction: column;
    }

    nav > ul {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        align-items: center;
    }
    
  }

