* {

    border:5px solid red;
    
}

html{
    box-sizing: border-box;
    width:100%;
    height: auto;
    display: grid;
    margin:0%;
    padding: 0%;

}

body {
    margin:0%;
    padding: 0%;
    height: 100%;
    box-sizing: border-box;
}

.mainGridContainer {
    height:100vh;
    display: grid;
    grid-template-areas:
    
    "nav header header header header header"
    "nav article article article article aside1"
    "nav article article article article aside1"
    "nav article article article article aside1"
    "nav article article article article aside2"
    "nav article article article article aside2"
    
    ;
    
    
    grid-template-columns:repeat(6, 1fr) ;
    grid-template-rows:repeat(6, 1fr) ;
    
}

nav {
    grid-area: nav;
    display:grid;
    background-color: rgb(6, 79, 196);
    
    
}

 nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    list-style-type: none;
    align-items: center;
    

 }

 
 li>a{
    text-decoration: none;
    color: white;
 }

 
 nav :nth-child(13)  { /*using padding to space 13 and 14th children of the nav icons a bit*/

    padding-top: 4rem;
 }

 nav :nth-child(14)   {

    padding-top: 4rem;
 }


 header {
    grid-area: header;
    display:grid;
}

article {
    grid-area:article;
    display: grid;
}

.aside1 {
    grid-area: aside1;
    display: grid;
}

.aside2 {
    grid-area:aside2;
    display:grid;
}

.navSvg {

    width: 2rem;
    filter:invert() /*inver color sample on  svg object*/
}

.ouroborusIcon {

    width:5rem
}

.ouroborusIconLowerHeader{

    width:2rem
}

.headerTop{

    display: grid;
    grid-template-columns: .5fr 1fr;
}

.leftHeader{

    display: grid;
    align-items: center;
    grid-template-columns: .5fr 4fr ;
}

.rightHeader {

    display: grid;
    grid-template-columns: .7fr .8fr;
    align-items: center;
    justify-items: right;
    
}

.lowerLeftHeaderBottom{

    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
    white-space: nowrap;
}

.headerBottom {

    display:grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    
}

.headerBottom .new-Upload-Share-Buttons{

    align-items: right;
}

.new-Upload-Share-Buttons {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-items: right;
    height:3rem;
    
}

.new-Upload-Share-Buttons button {

    font-size:1.5rem;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    ;
}



.symbolName { /*this is the ouroborus and name seciton in right header*/

    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-items: right;
}

.symbolName :nth-child(2){ /*turn on no wrap to make name one line*/

    white-space: nowrap;
}



input {

    background-color: rgb(217, 210, 210);
    border-radius:12px;
}




